<template>
    <div class="">
        <div class="table-responsive">
            <table class="table table-hovered table-bordered ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>logo</th>
                        <th>url</th>
                        <th v-if="isSuperAdmin=='true'">Created By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tr v-if="companies.data && companies.data.length==0">
                    <td colspan="3">
                        <div class="bg-warning text-center">There are no companies</div>
                    </td>
                </tr>
                <tbody>
                    <tr v-for="company in companies.data" :key="company.id">
                        <td>{{company.name}}</td>
                        <td>{{company.email}}</td>
                        <td>
                            <img v-if="company.logo_path && company.logo_path.startsWith('/storage/')" :src="'/storage/'+company.logo_path" height="100" width="100">
                            <img v-else :src="company.logo_path" height="100" width="100">
                        </td>
                        <td>{{company.url}}</td>
                        <td v-if="isSuperAdmin=='true'">{{company.admin ? company.admin.name : 'none'}}</td>
                        <td>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">action</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" :href="'edit-company/'+company.id">Edit</a>
                                    <a class="dropdown-item" @click="destroy(company.id)">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row table-responsive">
            <div class="col">
                <pagination :data="companies" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
    </div>
</template>

<script>
import pagination from 'laravel-vue-pagination';
export default {
    name:'companiesComponent',
    props:{
        isSuperAdmin:{
            type:String,
            required:true
        }
    },
    comments:{pagination},
    data(){
        return{
            companies:{}
        }
    },

    created(){
        this.getResults()
    },

    methods:{
        getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }
    
            axios.get('/companies/paginate=true?page=' + page)
                .then(res => {
                    this.companies = res.data.companies;
                });
        },

        destroy(id){
          if(confirm("Do you want to delete this company?")){
              axios.delete('/admin/delete-company/'+id)
              .then(res=>{
                  if (res.data.success) {
                    this.getResults()
                    toastr.success(res.data.message);
                 }else{
                    toastr.error(res.data.message);
                 }
              }).catch(err => {
                toastr.error("An error occured, please try again")
                console.log(err);
            });
          }
        }
    }
}
</script>