<template>
    <form method="post" :action="postAction" @submit.prevent>
        <div class="input-group mb-3">
            <input type="text" required class="form-control" v-model="form.first_name" placeholder="first name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <input type="text" required class="form-control" v-model="form.last_name" placeholder="last name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="form.email" placeholder="email" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <input type="text" required class="form-control" v-model="form.phone" placeholder="phone" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <input type="hidden" required class="form-control" v-model="form.role_id" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <input type="submit" value="submit" class="btn btn-primary" @click="submit()">
        </div>
        
    </form>
</template>

<script>
//import Input from '../../../vendor/laravel/breeze/stubs/inertia/resources/js/Components/Input.vue';
export default {
  //components: { Input },
    name:'CreateUserComponent',
    props:{
        panelTitle:{
            default:'Create',
            type:String,
            required:true
        },
        postAction:{
            type:String,
            required:true
        },
        
    },
    data(){
        return{
            form:{
                email:'',
                first_name:'',
                last_name:'',
                phone:'',
                password:'password',
                role_id:2
            },

        }
    },

    created(){
        // axios.get('/companies')
        // .then(res=>{
        //     if (res.data.success) {
        //         this.companies = res.data.companies
        //     }else{
        //          toastr.error(res.data.message);
        //     }
        // }).catch(err => {
        //     toastr.error("An error occured, please try again")
        //     console.log(err);
        // });
    },

    methods: {
        submit(){
            axios.post(this.postAction, this.form)
            .then(res => {
                if (res.data.success) {
                    toastr.success(res.data.message);
                } else {
                    toastr.warning(res.data.message);
                }
            })
            .catch(err => {
                if(err.response && err.response.status === 422){
                    //alert('ki')
                    toastr.error(err.response.data.message)
                }else{
                    toastr.error("An error occured, please try again")
                    console.log(err);
                }
            });
        }
    }


}
</script>