<template>
    <div class="">
        <div class="table-responsive">
            <table v-if="usersType=='users'" class="table table-hovered table-bordered ">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Company</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tr v-if="users.data && users.data.length==0">
                    <td colspan="3">
                        <div class="bg-warning text-center">There are no employees</div>
                    </td>
                </tr>
                <tbody>
                    <tr v-for="user in users.data" :key="user.id">
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.company ? user.company.name : 'none'}}</td>
                        <td>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">action</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a v-if="!user.is_admin" class="dropdown-item" :href="'edit-user/'+user.id">Edit</a>
                                    <a v-if="!user.is_admin" class="dropdown-item" @click="destroy(user.id)">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table v-else class="table table-hovered table-bordered ">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tr v-if="users.data && users.data.length==0">
                    <td colspan="3">
                        <div class="bg-warning text-center">There are no admins</div>
                    </td>
                </tr>
                <tbody>
                    <tr v-for="user in users.data" :key="user.id">
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">action</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a v-if="!user.is_admin" class="dropdown-item" :href="'edit-admin/'+user.id">Edit</a>
                                    <a v-if="!user.is_admin" class="dropdown-item" @click="destroy(user.id)">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="row table-responsive">
            <div class="col">
                <pagination :data="users" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
    </div>
</template>

<script>
import pagination from 'laravel-vue-pagination';
export default {
    name:'UsersComponent',
    comments:{pagination},
    props:{
        usersType:{
            type:String,
            required:true
        }
    },
    data(){
        return{
            users:{}
        }
    },

    created(){
        this.getResults()
    },

    methods:{
        getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }

            if(this.usersType == 'users'){
                axios.get('/admin/all-users?page=' + page)
                    .then(res => {
                        this.users = res.data.users;
                    });
            }else{
                axios.get('/admin/all-admins?page=' + page)
                    .then(res => {
                        this.users = res.data.users;
                    });
            }
           
        },

        destroy(id){
          if(confirm("Do you want to delete this user?")){
              axios.delete('/admin/delete-user/'+id)
              .then(res=>{
                  if (res.data.success) {
                    this.getResults()
                    toastr.success(res.data.message);
                 }else{
                    toastr.error(res.data.message);
                 }
              }).catch(err => {
                toastr.error("An error occured, please try again")
                console.log(err);
            });
          }
        }
    }
}
</script>